html {
  height: 100%;
}

body {
  font-family: Microsoft Yahei Mono;
  font-size: 16px;
  line-height: 1.42857143;
  color: #6cb233;
  background-color: #292929;
  height: 100%;
}

ul li {
  line-height: 24px;
}

blockquote {
  border-left: #eee solid 5px;
  padding-left: 20px;
}

code {
  color: #D34B62;
  background: #F9F2F4;
}

#todolist,#todolist-content,#todolist-title,#todolist-editor,#editor,#result,#allNeedToDo {
  border-radius: 5px;
  padding: 10px;
}

#backgroundpanel {
  width: 100%;
  height: 97%;
}

#markdown-worker {
  width: 100%;
  height: 97%;
  display: flex;
}

#todolist {
  height: 100%;
  width: 20%;
  background-color: rgb(63, 90, 22);
}

#editor {
  width: 50%;
  height: 100%;
  font-family: Microsoft Yahei Mono;
  font-size: 16px;
  line-height: 1.42857143;
}

#todolist-title {
  height: 5%;
  width: 100%;
  font-family: Microsoft Yahei Mono;
  font-size: 25px;
  font-weight: bold;
}

#todolist-warpper {
  width: 100%;
  height: 80%;
}

#todolist-editor {
  height: 85%;
  width: 100%;
  display: flex;
}

/*右键菜单样式*/
#custom-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#contentwappper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#allNeedToDo{
  height: 20%;
}

#state-bar{
  height: 2%;
  width: 100%;
  background-color: rgb(141, 7, 171)3c3;
  align-content: center;
}

.menu-item {
  padding: 8px 12px;
  cursor: pointer;
}

.todoMenuTitle {
  margin:5px;
}